

#socials {
    
    background-color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    max-width: 180px;
    align-items: center;
    margin: 200px auto 30px;
    border: 2px;
    border-style: solid;
    transition: background-color 0.5s;
    
}

#socials:hover {
    background-color: rgb(68, 68, 68);
}

#linkedIn, #github, #email {
    margin: 20px 15px;
    
}

/* #linkedIn:hover, #github:hover, #email:hover {
    background-color: white;
} */

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}