

#Nav_bar{
    margin: 0;
    padding: 12px 10px;
    border: 10px;
    list-style-type: none;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: var(--background-color);
    transition: background-color 0.30s, color 0.30s;
}

.Nav_item:last-child{
    margin-left: auto;
}



.Nav_val:hover  {
    color: var(--background-color);
    background-color: var(--text-color);
    transition: background-color 0.45s, color 0.45s;
}


.Nav_val{
    padding: 0px 10px;
    
}


.checkbox {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


a{
    text-decoration: none;
    color: var(--text-color);
}

#svg_container {
display: flex;
transition: transform 0.5s ease-in-out;
}
/*   
.checked {
transform: rotate(0deg);
transition: transform 0.5s ease-in-out;
}

.unchecked {
transform: rotate(40deg);
transition: transform 0.5s ease-in-out;
} */
