

#Nav_bar{
    margin: 0;
    padding: 12px 10px;
    border: 10px;
    list-style-type: none;
    display: flex;
    
}

.Nav_item:last-child{
    margin-left: auto;
}

.Nav_val:hover {
    background-color: red;
    color: black;
}

.Nav_val{
    padding: 0px 10px;
    transition: background-color 0.30s, color 0.30s;
}

.hide{
    height: 0;
    width: 0;
    opacity: 0;
}


/* -webkit-filter: invert(100%);
    filter: invert(100%); */