

.App{
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 0.30s, color 0.30s;
}
/* #light {
  background-color: rgb(240, 240, 240);
  color: black;
  transition: background-color 0.30s, color 0.30s;
}

#dark {
  background-color: black;
  color: white;
  transition: background-color 0.30s, color 0.30s;
} */

/* #light a {
  color: black;
}

#dark a {
  color: white;
}

#light .Nav_val:hover {
  background-color: black;
}

#dark .Nav_val:hover {
  background-color: white;
} */




#right_side:last-child {
  display: flex;
  margin: auto;
}

