:root{
  --default-text-color: black;
  --default-bg-color: white;

}


#light {
  background-color: white;
  color: black;
  transition: background-color 0.30s, color 0.30s;
}

#dark {
  background-color: black;
  color: white;
  transition: background-color 0.30s, color 0.30s;
}

#light a {
  background-color: white;
  color: black;
}

#dark a {
  background-color: black;
  color: white;
}



#right_side:last-child {
  display: flex;
  
    margin: auto

}